.message-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-left: 5px;
    }
.message-subject{
        font-weight:700;
    }

.message-card{
        border: 1px solid black; 
        background: #76a9e7;
        border-radius: 2px;
        width: 900px;
        min-height: 100px;
        padding: 10px;
        text-align: left;
        margin-bottom: 25px;
        }
.message-content{
            font-size: 24px;
            font-weight: 400;
        }